
* {
  margin: 0;
  padding: 0;
}
nav > ol {
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  list-style: none;
}

nav > ol > li {
  padding: 10px 30px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: Calibri ;
  border-radius: 8px;
  box-shadow: 5px 5px 5px ;
  background-color: aliceblue;
}

ol>li>a{
    text-decoration-line:none ;
}

.form-container{
  width: 500px;
  border: 2px solid red;
  padding: 30px;
  border-radius: 50px 15px;
  box-shadow: 5px 5px 5px red;
  background-color: antiquewhite;
}

.form-container>label{
  font-weight: bold;
  font-style: italic;
  margin-right: 10px;
}
.form-container>label::after{
  content: "*";
  color: red;
}
.form-container>input{
  border-radius: 8px;
  border: none;
  padding: 6px 20px;
}
.form-container>input:focus{
  box-shadow: 4px 4px 4px red;
  border: none;
}
.form{
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

